---
import H1 from '@components/H1.astro'
import Main from '@components/Main.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <Main>
    <H1 text="HELLO Astro!" />

    <p class="container my-5 h-40 w-full px-2 py-4 text-2xl">hello</p>
  </Main>
</Layout>
