---
import Header from '@components/React/Header'
import Main from '@components/Main.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description?: string
  image?: string
}

const {
  title = 'Spruce And Sage Cleaning',
  description = "Spruce and Sage Cleaning Services “We're on a quest to turn your spaces into sparkling, sanitized sanctuaries, and we won't rest until we've exceeded even the loftiest of expectations.” One Time Clean Repeat Clean Party Clean-Up Closet/Room/Pantry Declutter and Organize Kitchen Clean/Organize Service Move-In/Move-Out Deep Clean Spring/Seasonal Clean Nesting Clean-Up Hospital.",
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="grid min-h-screen grid-rows-[auto,1fr,auto]">
    <Header client:load />
    <slot />
  </body>
</html>
